{{>layout}}

<div>
  <h1>{{product.title}}</h1>
  <h2>$ {{product.price}}</h2>
  <h3>{{product.category}}</h3>
  <p>{{product.description}}</p>
  <button class="add2Cart" id={{product._id}} >Agregar al Carrito</button>
</div>